<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.car.model.mapper.CarMapper">

	<sql id="selectDefault">
		SELECT model, regdate, carno, totaldistance, totaloutcome, deleted
		FROM Car
	</sql>

	<insert id="insertCar" parameterType="Car" useGeneratedKeys="true"
		keyProperty="carindex" keyColumn="carindex">
		INSERT INTO car
		(historyno, model,
		regdate, carno, totaldistance, totaloutcome, deleted)
		VALUES
		(#{historyno}, #{model},
		#{regdate}, #{carno}, #{totaldistance}, #{totaloutcome}, 0)
	</insert>
	<select id="selectCars" resultType="Car">
		SELECT *
		FROM Car
	</select>
	<select id="selectAllCarByCarno" parameterType="int" resultType="Car">
		<include refid="selectDefault" />
		WHERE memberNo = #{memberNo}
	</select>
	<select id="selectCarnoByCarindex" parameterType="int" resultType="Car">
		<include refid="selectDefault" />
		WHERE carindex = #{carindex}
	</select>
	
	<update id="updateCar" parameterType="Car">
		UPDATE Car
		SET  (model = #{model}, regdate = #{regdate}, carno = #{carno}, totaldistance = #{totaldistance}, totaloutcome = #{ totaloutcome})
		WHERE carindex = #{carindex}
		
	</update>
	<update id="deleteCar" parameterType="int">
		UPDATE Car SET deleted = '1' WHERE carindex = #{carindex}
	</update>


</mapper>