<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.car.model.mapper.CarMapper">
	<resultMap type="Car" id="carMap">
		<id property="carindex" column="carindex" />
		<result property="model" column="model" />
		<result property="regdate" column="regdate" />
		<result property="carno" column="carno" />
		<result property="totaldistance" column="totaldistance" />
		<result property="totaloutcome" column="totaloutcome" />
		<result property="deleted" column="deleted" />
		
		<collection property="memberno" column="memberno"
			select="selectCarByMemberno"  />
	</resultMap>
	
	
	<sql id="selectDefault">
		SELECT model, regdate, carno, totaldistance, totaloutcome, deleted
		FROM Car
	</sql>

	<insert id="insertCar" parameterType="Car" >
		INSERT INTO car
		(model,	carno, regdate, memberno)
		VALUES
		(#{model}, #{carno}, #{regdate}, #{memberno})
	</insert>
	<select id="selectCars" resultType="Car">
		SELECT *
		FROM Car
	</select>
	<select id="selectAllCarByCarno" parameterType="int" resultType="Car">
		<include refid="selectDefault" />
		WHERE memberNo = #{memberNo}
	</select>
	<select id="selectCarnoByCarindex" parameterType="int" resultType="Car">
		<include refid="selectDefault" />
		WHERE carindex = #{carindex}
	</select>
	
	<update id="updateCar" parameterType="Car">
		UPDATE Car
		SET  (model = #{model}, regdate = #{regdate}, carno = #{carno}, totaldistance = #{totaldistance}, totaloutcome = #{ totaloutcome})
		WHERE carindex = #{carindex}
		
	</update>
	<update id="deleteCar" parameterType="int">
		UPDATE Car SET deleted = '1' WHERE carindex = #{carindex}
	</update>
	
	<select id="selectCarByMemberno"
		parameterType="int" resultMap="carMap">
			select Car.*
			from Member
			join Car
			on Member.memberno=Car.memberno;
	

	</select>


</mapper>