<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.car.model.mapper.FuelMapper">

	<sql id="selectDefault">
		SELECT fuelNo, type, perLiter, payment, liter, regDate, location, content, historyNo
		FROM Fuel
	</sql>

	<insert id="insertFuel" parameterType="Fuel">
		INSERT INTO Fuel
		(historyNo, type, perLiter, payment, liter, regDate, location, content)
		VALUES
        (#{historyNo}, #{type}, #{perLiter}, #{payment}, #{liter}, #{regDate}, #{location}, #{content});
	</insert>

	<select id="selectFuelList" resultType="Fuel">
		SELECT *
		FROM Fuel
	</select>

	<select id="selectFuelByFuelNo" parameterType="int" resultType="Fuel">
		<include refid="selectDefault" />
		WHERE fuelNo = #{fuelNo}
	</select>

	<select id="updateFuel" parameterType="Fuel">
		UPDATE Fuel
		SET type = #{type}, perLiter = #{perLiter}, payment = #{payment}, liter = #{liter}, regDate = #{regDate}, location = #{location}, content = #{content} 
		WHERE fuelNo = #{fuelNo}
	</select>
	
	
	
</mapper>