<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.car.model.mapper.FuelMapper">

	<resultMap type="Fuel" id="fuelMap">
		<id property="historyNo" column="historyno" />
		<result property="category" column="category" />
		<result property="perLiter" column="perliter" />
		<result property="payment" column="payment" />
		<result property="liter" column="liter" />
		<result property="regDate" column="regdate" />
		<result property="location" column="location" />
		<result property="content" column="content" />

		<association property="memberNo" column="memberno"
			select="selectFuelByMemberNo" />
		<association property="memberNo" column="memberno"
			select="selectFuelByCarindex" />
		<association property="memberNo" column="memberno"
			select="selectFuelByHistoryNo" />
		<association property="memberNo" column="memberno"
			select="selectFuelSearchType" />

	</resultMap>

	<sql id="selectDefault">
		SELECT fuelNo, category, perLiter, payment, liter, regDate,
		location, content, historyNo
		FROM Fuel
	</sql>

	<insert id="insertFuel" parameterType="Fuel">
		INSERT INTO Fuel
		(historyNo, category, perLiter, payment, liter, regDate, location,
		content)
		VALUES
		(#{historyNo}, #{category}, #{perLiter}, #{payment},
		#{liter}, #{regDate},
		#{location}, #{content});
	</insert>

	<select id="selectFuelByMemberNo" parameterType="int" resultMap="fuelMap">
		SELECT ch.*, f.*
		FROM Member m
		JOIN Car c
		ON m.memberno = c.memberno
		JOIN
		Carhistory ch
		ON ch.carindex = c.carindex
		JOIN Fuel f
		ON ch.historyno =
		f.historyno
		WHERE m.memberno = #{memberno} AND f.deleted = '0';
	</select>

	<select id="selectFuelByCarindex" parameterType="int" resultMap="fuelMap">
		SELECT ch.*, f.*
		FROM Member m
		JOIN Car c
		ON m.memberno = c.memberno
		JOIN Carhistory ch
		ON
		ch.carindex = c.carindex
		JOIN Fuel f
		ON ch.historyno = f.historyno
		WHERE
		ch.carindex = #{carindex} AND f.deleted = '0';
	</select>

	<select id="selectFuelByHistoryNo" parameterType="int" resultMap="fuelMap">
		SELECT f.*
		FROM Member m
		JOIN Car c
		ON m.memberno = c.memberno
		JOIN Carhistory ch
		ON
		ch.carindex = c.carindex
		JOIN Fuel f
		ON ch.historyno = f.historyno
		WHERE
		ch.historyno = #{hitoryno} AND f.deleted = '0';
	</select>

	<select id="updateFuel" parameterType="Fuel">
		UPDATE Fuel
		SET
		category = #{category}, regDate = #{regDate}, perLiter = #{perLiter}, 
		liter = #{liter}, payment = #{payment}, location = #{location}, 
		content = #{content}
		WHERE historyNo = #{historyNo}
	</select>
	
	<update id="deletedFuel" parameterType="int">
		UPDATE Fuel 
		SET deleted = '1' 
		WHERE historyNo = #{historyNo}
	</update>
	
		<select id="selectFuelSearchType" parameterType="string" resultMap="fuelMap">
		SELECT f.* 
		FROM Member m
		JOIN Car c
		ON m.memberno = c.memberno
		JOIN Carhistory ch
		ON ch.carindex = c.carindex
		JOIN Fuel f
		ON ch.historyno = f.historyno
		WHERE ch.category = #{category} AND f.deleted = '0';
	</select>
	
	
</mapper>