<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- 논리적 클래스 만들기 -->
<!-- make physical class -->
<mapper namespace="com.car.model.mapper.GroupChatMapper">

	<sql id="selectDefault">
		SELECT chatno, totalnumber, deleted, title, reservationno
		FROM GroupChat
	</sql>
	
	<!-- 논리적 메서드 만들기 -->
	<!-- make physical method -->
	<insert id="insertGroupChat">
		INSERT INTO GroupChat
		(totalnumber, deleted, title, reservationno)
		VALUES
		(1, 0, #{title}, #{reservationNo})
	</insert>
	
	<select id="selectAllGroupChat" resultType="GroupChat">
		SELECT *
		FROM GroupChat
	</select>
	
	<select id="selectGroupChatByMemberId" 
		parameterType="string" resultType="GroupChat">			
		SELECT gc.*
		FROM GroupChat gc
        JOIN GroupChatStatement gcs
        ON gc.chatno = gcs.chatno
        JOIN Member m
        ON gcs.memberno = m.memberno
        WHERE m.memberid = #{memberId}		
	</select>
	
	<select id="selectGroupChatByGroupChatNo" 
		parameterType="int" resultType="GroupChat">			
		<include refid="selectDefault" />
		WHERE chatno = #{chatNo}
	</select>
	
	<select id="selectGroupChatByReservationNo" 
		parameterType="int" resultType="GroupChat">			
		<include refid="selectDefault" />
		WHERE reservationno = #{reservationNo}
	</select>
	
	<update id="updateGroupChat" parameterType="GroupChat">	
		UPDATE GroupChat
		SET totalnumber = #{totalNumber} 
		WHERE chatno = #{chatNo}
	</update>
	
	<delete id="deleteGroupChat" parameterType="int">
		DELETE 
		FROM GroupChat
		WHERE chatno = #{chatNo}
	</delete>
	
	
	
	<!-- Group Chat Statement part -->
	
	<insert id="insertGroupChatStatement">
		INSERT INTO GroupChatStatement
		(memberno, chatno)
		VALUES
		(#{memberNo}, #{chatNo})
	</insert>
	
	<select id="selectGroupChatStatementByMemberNo"
		parameterType="int" resultType="GroupChatStatement">
		SELECT gcs.*
		FROM GroupChatStatement gcs
		JOIN Member m
		WHERE m.memberno = gcs.memberno AND m.memberno = #{memberNo}
	</select>
	
</mapper>