<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- 논리적 클래스 만들기 -->
<!-- make physical class -->
<mapper namespace="com.car.model.mapper.GroupScheduleMapper">

	<sql id="selectDefault">
		SELECT scheduleno, chatno, title, content, startdate, enddate, departtime
		FROM GroupSchedule
	</sql>
	
	<!-- 논리적 메서드 만들기 -->
	<!-- make physical method -->
	<insert id="insertGroupSchedule">
		INSERT INTO GroupSchedule
		(chatno, title, content, startdate, enddate, departtime)
		VALUES
		(#{chatNo}, #{title}, #{content}, #{startDate}, #{endDate}, #{departTime})
	</insert>
	
	<select id="selectAllGroupSchedule" resultType="GroupSchedule">
		SELECT *
		FROM GroupSchedule
	</select>
	
	<select id="selectGroupScheduleByMemberId" 
		parameterType="string" resultType="GroupSchedule">			
		SELECT gs.scheduleno, gs.chatno, gs.title, gs.content, gs.startdate, gs.enddate, gs.departtime
		FROM GroupSchedule gs
        INNER JOIN GroupChat gc
        ON gs.chatno = gc.chatno
        INNER JOIN GroupChatStatement gcs
        on gc.chatno = gcs.chatno
        INNER JOIN Member m
        on gcs.memberno = m.memberno
        where m.memberid = #{memberId}
	</select>
	
	<select id="selectGroupScheduleByGroupScheduleNo" 
		parameterType="int" resultType="GroupSchedule">			
		<include refid="selectDefault" />
		WHERE scheduleno = #{scheduleNo}
	</select>
	
	<update id="updateGroupSchedule" parameterType="GroupSchedule">	
		UPDATE GroupSchedule
		SET totalnumber = #{totalNumber}, content = #{content}, startdate = #{startDate}, 
		    enddate = #{endDate}, departtime = #{departTime}
		WHERE scheduleno = #{scheduleNo}
	</update>
	
	<select id="deleteGroupSchedule" parameterType="int">
		DELETE 
		FROM GroupSchedule
		WHERE scheduleno = #{scheduleNo}
	</select>
	
</mapper>








