<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.car.model.mapper.OutcomeMapper">

	<resultMap type="Outcome" id="outcomeMap">
		<id property="historyNo" column="historyno" />
		<result property="category" column="category" />
		<result property="payment" column="payment" />
		<result property="regDate" column="regdate" />
		<result property="location" column="location" />
		<result property="content" column="content" />

		<association property="memberNo" column="memberno" select="selectOutcomeByMemberNo" />
		<association property="memberNo" column="memberno" select="selectOutcomeByCarindex" />
		<association property="memberNo" column="memberno" select="selectOutcomeByHistoryNo" />
	</resultMap>
	


	<sql id="selectDefault">
		SELECT outcomeNo, category, payment, regDate, location,
		content, historyNo
		FROM Outcome
	</sql>


	<insert id="insertOutcome" parameterType="Outcome">
		INSERT INTO Outcome
		(category, payment, regDate, location, content, historyNo)
		VALUES
		(#{category}, #{payment}, #{regDate}, #{location}, #{content},
		#{historyNo});
	</insert>

	<select id="selectOutcomeByMemberNo" parameterType="int" resultMap="outcomeMap">
		SELECT ch.*, o.*
		FROM Member m
		JOIN Car c
		ON m.memberno = c.memberno
		JOIN Carhistory ch
		ON ch.carindex = c.carindex
		JOIN Outcome o
		ON ch.historyno = o.historyno
		WHERE m.memberno = #{memberno}
	</select>
	
	<select id="selectOutcomeByCarindex" parameterType="int" resultMap="outcomeMap">
		SELECT ch.*, o.* 
		FROM Member m
		JOIN Car c
		ON m.memberno = c.memberno
		JOIN Carhistory ch
		ON ch.carindex = c.carindex
		JOIN Outcome o
		ON ch.historyno = o.historyno
		WHERE ch.carindex = #{carindex};
	</select>

	<select id="selectOutcomeByCarhistory" parameterType="int" resultMap="outcomeMap">
	    SELECT o.* 
		FROM Member m
		JOIN Car c
		ON m.memberno = c.memberno
		JOIN Carhistory ch
		ON ch.carindex = c.carindex
		JOIN Outcome o
		ON ch.historyno = o.historyno
		WHERE ch.historyno = #{historyno};
	</select>

	<select id="updateOutcome" parameterType="Outcome">
		UPDATE Outcome
		SET
		category = #{category}, payment = #{payment}, regDate = #{regDate},
		location = #{location}, content = #{content}
		WHERE outcomeNo =
		#{outcomeNo}
	</select>
	
	


</mapper>