<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.car.model.mapper.OutcomeMapper">

	<sql id="selectDefault">
		SELECT outcomeNo, category, payment, regDate, location, content, historyNo
		FROM Outcome
	</sql>

	<insert id="insertOutcome" parameterType="Outcome">
		INSERT INTO Outcome
		(category, payment, regDate, location, content, historyNo)
		VALUES
        (#{category}, #{payment}, #{regDate}, #{location}, #{content}, #{historyNo});
	</insert>

	<select id="selectOutcomeList" resultType="Outcome">
		SELECT *
		FROM Outcome
	</select>

	<select id="selectOutcomeByOutcomeNo" parameterType="int" resultType="Outcome">
		<include refid="selectDefault" />
		WHERE outcomeNo = #{outcomeNo}
	</select>

	<select id="updateOutcome" parameterType="Outcome">
		UPDATE Outcome
		SET category = #{category}, payment = #{payment}, regDate = #{regDate}, location = #{location}, content = #{content}
		WHERE outcomeNo = #{outcomeNo}
	</select>

</mapper>