<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.car.model.mapper.ReservationMapper">


<resultMap type="Reservation" id="reservationMap">
		<id property="reservationNo" column="reservationno" />
		<result property="memberNo" column="memberno" />
		<result property="type" column="type" />
		<result property="purpose" column="purpose" />
		<result property="departure" column="departure" />
		<result property="arrival" column="arrival" />
		<result property="frequency" column="frequency" />
		<result property="startDate" column="startdate" />
		<result property="endDate" column="enddate" />
		<result property="totalMemeber" column="totalmemeber" />
		<result property="endDate" column="enddate" />
		<result property="content" column="content" />
		
		<collection property="memberNo" column="memberno"
			select="selectMemberByMemeberNo"  />
	</resultMap>
	
	<resultMap type="Reservation" id="reservationMap2">
		<id property="reservationNo" column="reservationno" />
		<result property="type" column="type" />
		<result property="memberNo" column="memberno" />
		<result property="purpose" column="purpose" />
		<result property="departure" column="departure" />
		<result property="arrival" column="arrival" />
		<result property="frequency" column="frequency" />
		<result property="startDate" column="startdate" />
		<result property="endDate" column="enddate" />
		<result property="totalMember" column="totalmember" />
		<result property="endDate" column="enddate" />
		<result property="content" column="content" />
	
	</resultMap>
	
	
<resultMap type="Member" id="memberMap">
		<id property="memberNo" column="memberno" />
		<result property="passWd" column="passwd" />
		<result property="name" column="name" />
		<result property="gender" column="gender" />
		<result property="phone" column="phone" />
		<result property="memberId" column="memberid" />
		<result property="likes" column="likes" />
		<result property="deleted" column="deleted" />
		<result property="regDate" column="regdate" />
		
	</resultMap>
	
	
	<resultMap type="Confirm" id="confirmMap">
		<result property="memberNo" column="memberno" />
		<result property="reservationNo" column="reservationno" />
		
		
		<collection property="member" column="memberno"
			select="selectMemberByMemeberNo"  />
	</resultMap>
	
	
	<update id="updateMemberByReservationNo" parameterType="Member">
	UPDATE Member
	SET reservationno = #{reservationNo}
	WHERE memberno = #{memberNo}
	</update>
	
	
		<delete id="deleteConfirm" parameterType="Confirm">
	DELETE FROM Confirm WHERE reservationNo=#{reservationNo} AND memberNo =#{memberNo};
	</delete>
	
	
	
	<select id="selectMemberByMemeberNo" parameterType="int" resultType="Member">
	
	SELECT * FROM Member
	WHERE memberno = #{memberNo}
	
	</select>

		<insert id="insertReservationNoToMember" parameterType="Member" >
		INSERT INTO Member
		reservationNo
		VALUES
		#{reservationNo}
	</insert>
	
	
	<insert id="insertConfirm" parameterType="Member" >
		INSERT INTO Confirm
		(memberNo, reservationNo)
		VALUES
		( #{memberNo}, #{reservationNo})
	</insert>
	
	<select id="selectConfirmList" resultType="Confirm">
		
		SELECT *
		FROM
		Confirm
    </select>
    
    <select id="selectConfirmListByReservationNo" parameterType="int"
	resultMap="confirmMap">

	select distinct Member.*
			from Confirm
			join Member
			on Member.memberno = Confirm.memberno
            WHERE Confirm.reservationno=#{reservationNo}
	
	                                  
	</select>
	


	<insert id="insertReservation" parameterType="Reservation" useGeneratedKeys="true"
		keyProperty="reservationNo" keyColumn="reservationNo">
		INSERT INTO Reservation
		( memberNo, type, purpose,departure, arrival, frequency, startDate,endDate, totalMember, content)
		VALUES
		( #{memberNo}, #{type}, #{purpose}, #{departure}, #{arrival}, #{frequency}
		,#{startDate},#{endDate},#{totalMember},#{content})
	</insert>
	
	<select id="selectReservationList" resultType="Reservation">
		
		SELECT *
		FROM
		Reservation
		WHERE deleted ='0'
	
</select>
	
	<select id="selectReservationByReservationNo" parameterType="int" resultType="Reservation">
		SELECT
		reservationNo, memberNo, type, purpose,departure, arrival, frequency, startDate,endDate, totalMember, content
		FROM Reservation
		WHERE reservationno =
		#{reservationNo} AND deleted
		= '0'
	</select>

	<select id="selectReservationCount" resultType="int">
		SELECT COUNT(*) FROM
		Reservation
	</select>
	
	<update id="ReservationReadCount" parameterType="int">
	UPDATE Reservation
	SET resersvationCount = resersvationCount + 1
	WHERE reservationNo = #{reservationNo}
	</update>
	
	<select id="selectReservationSearchType" parameterType="hashMap" resultMap="reservationMap2">
	SELECT *
		FROM Reservation 
		WHERE frequency =#{frequency}
	</select>
	
	<update id="deleteReservation" parameterType="int">
	UPDATE Reservation SET deleted
	= '1' WHERE reservationno = #{reservationNo}
	</update>

	<update id="updateReservation" parameterType="Reservation">
	UPDATE Reservation
	SET departure = #{departure}, arrival = #{arrival}, content = #{content},
	startDate=#{startDate}, endDate=#{endDate}
	WHERE reservationno = #{reservationNo}
	</update>
	
	<select id="selectReservationByMemberNo" parameterType="int" resultType="Reservation">   
   SELECT
   r.reservationNo, r.memberNo, r.type, r.purpose, 
   r.departure, r.arrival, r.frequency, r.startDate, 
   r.endDate, r.totalMember, r.content
   FROM Reservation r
   JOIN Member m
   WHERE r.memberNo = #{memberNo} AND r.deleted = '0';
  </select>
	
</mapper>