<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.car.model.mapper.ReservationMapper">


<resultMap type="Reservation" id="reservationMap">
		<id property="reservationNo" column="reservationno" />
		<result property="type" column="tpye" />
		<result property="purpose" column="purpose" />
		<result property="departure" column="departure" />
		<result property="arrival" column="arrival" />
		<result property="frequency" column="frequency" />
		<result property="startDate" column="startdate" />
		<result property="endDate" column="enddate" />
		<result property="totalMemeber" column="totalmemeber" />
		<result property="endDate" column="enddate" />
		<result property="content" column="content" />
	
	</resultMap>


	<insert id="insertReservation" parameterType="Reservation" useGeneratedKeys="true"
		keyProperty="reservationNo" keyColumn="reservationNo">
		INSERT INTO Reservation
		( memberNo, type, purpose,departure, arrival, frequency, startDate,endDate, totalMember, content)
		VALUES
		( #{memberNo}, #{type}, #{purpose}, #{departure}, #{arrival}, #{frequency}
		,#{startDate},#{endDate},#{totalMember},#{content})
	</insert>
	
	<select id="selectReservationList" resultType="Reservation">
		
		SELECT *
		FROM
		Reservation
		
</select>
	
	<select id="selectReservationByReservationNo" parameterType="int" resultMap="reservationMap">
		SELECT
		reservationNo, memberNo, type, purpose,departure, arrival, frequency, startDate,endDate, totalMember, content
		FROM Reservation
		WHERE reservationNo =
		#{reservationNo} AND deleted
		= '0'
	</select>

	<select id="selectReservationCount" resultType="int">
		SELECT COUNT(*) FROM
		Reservation
	</select>
	
	<update id="ReservationReadCount" parameterType="int">
	UPDATE Reservation
	SET resersvationCount = resersvationCount + 1
	WHERE reservationNo = #{reservationNo}
	</update>
	
	
	<update id="deleteReservation" parameterType="Reservation">
	UPDATE Reservation SET deleted
	= '1' WHERE reservationno = #{reservationNo}
	</update>

	<update id="updateReservation" parameterType="Reservation">
	UPDATE Reservation
	*
	WHERE reservationno = #{reservationNo}
	</update>
	
</mapper>