<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.car.model.mapper.ReservationMapper">

	<insert id="insertReservation" parameterType="Reservation" useGeneratedKeys="true"
		keyProperty="reservationNo" keyColumn="reservationNo">
		INSERT INTO Reservation
		( memberno, type, purpose,departure, arrival, frequency, startdate,enddate, totalmemeber, content)
		VALUES
		( #{memberno}, #{type}, #{purpose}, #{departure}, #{arrival}, #{frequency}
		,#{startdate},#{enddate},#{totalmemeber},#{content})
	</insert>
	
	<select id="selectReservationList" resultType="Reservation">
		
		SELECT *
		FROM
		Reservation
		
</select>
	
	<select id="selectReservationByReservationNo" parameterType="int" resultMap="reservationMap">
		SELECT
		reservationno, memberno, type, purpose,departure, arrival, frequency, startdate,enddate, totalmemeber, content
		FROM reservation
		WHERE reservationno =
		#{reservationno} AND deleted
		= '0'
	</select>

	<select id="selectReservationCount" resultType="int">
		SELECT COUNT(*) FROM
		reservation
	</select>
	
	<update id="ReservationReadCount" parameterType="int">
	UPDATE reservation
	SET resersvationcount = resersvationcount + 1
	WHERE reservationno = #{reservationno}
	</update>
	
	
</mapper>