<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<properties>
		<property name="driver" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql:210.16.214.194/car" />
		<property name="username" value="car" />
		<property name="password" value="Carcar1!" />
	</properties>

	<typeAliases>
		<typeAlias type="com.car.model.dto.Member" alias="Member" />
		<typeAlias type="com.car.model.dto.Car" alias="Car" />
		<typeAlias type="com.car.model.dto.Reservation" alias="Reservation" />
		<typeAlias type="com.car.model.dto.GroupChat" alias="GroupChat" />
		<typeAlias type="com.car.model.dto.Carhistory" alias="Carhistory" />
		<typeAlias type="com.car.model.dto.GroupChat" alias="GroupChat" />
		<typeAlias type="com.car.model.dto.GroupSchedule" alias="GroupSchedule" />
		<typeAlias type="com.car.model.dto.Reservation" alias="Reservation"/>
		<typeAlias type="com.car.model.dto.Outcome" alias="Outcome"/>
		<typeAlias type="com.car.model.dto.Fuel" alias="Fuel"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">

			<transactionManager type="JDBC" />

			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<!-- <property name="username" value="${username}" /> <property name="password" 
					value="${password}" /> -->
				<property name="username" value="car" />
				<property name="password" value="Carcar1!" />
			</dataSource>

		</environment>
	</environments>

	<mappers>
		<!-- Code에서 분리된 SQL문이 작성되고 객체와의 매핑 정보가 정의되는 파일들 경로는 패키지 경로를 사용 : com.demoweb 
			-> com/demoweb 경로 -->
		<mapper resource="com/car/model/mapper/MemberMapper.xml" />
		<mapper resource="com/car/model/mapper/CarMapper.xml" />
		<mapper resource="com/car/model/mapper/CarhistoryMapper.xml" />
		<mapper resource="com/car/model/mapper/GroupChatMapper.xml" />
		<mapper resource="com/car/model/mapper/ReservationMapper.xml" />
		<mapper resource="com/car/model/mapper/OutcomeMapper.xml" />
		<mapper resource="com/car/model/mapper/FuelMapper.xml" />
	</mappers>

</configuration>